{% extends '/base.html.twig' %}

{% block body %}

<section class="cbo-catslider">
	<div class="catslider-inner">

		<div class="catslider-list owl-carousel owl-theme">
			
			<div class="list-el">
				<div class="el-inner">
					<div class="el-title cbo-bigtitle">
						Savons
					</div>
					<div class="el-picture">
						<img src="{{ asset('/front/dist/images/_tmp/home-slider-5.png') }}" alt="Savons" />
					</div>
					<div class="el-content">
						<div class="content-title">Savons</div>
						<div class="content-excerpt">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc neque, scelerisque vitae leo at, suscipit porta tortor. Morbi porttitor egestas elementum.
						</div>
						<div class="content-button">
							<a href="#" class="cbo-button">
								Notre gamme
								<i class="icon icon--arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="list-el">
				<div class="el-inner">
					<div class="el-title">
						Shampoings
					</div>
					<div class="el-picture">
						<img src="{{ asset('/front/dist/images/_tmp/home-slider-4.png') }}" alt="Shampoings" />
					</div>
					<div class="el-content">
						<div class="content-title">Shampoings</div>
						<div class="content-excerpt">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc neque, scelerisque vitae leo at, suscipit porta tortor. Morbi porttitor egestas elementum.
						</div>
						<div class="content-button">
							<a href="#" class="cbo-button">
								Notre gamme
								<i class="icon icon--arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="list-el">
				<div class="el-inner">
					<div class="el-title">
						Soins du corps
					</div>
					<div class="el-picture">
						<img src="{{ asset('/front/dist/images/_tmp/home-slider-3.png') }}" alt="Soins du corps" />
					</div>
					<div class="el-content">
						<div class="content-title">Soins du corps</div>
						<div class="content-excerpt">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc neque, scelerisque vitae leo at, suscipit porta tortor. Morbi porttitor egestas elementum.
						</div>
						<div class="content-button">
							<a href="#" class="cbo-button">
								Notre gamme
								<i class="icon icon--arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="list-el">
				<div class="el-inner">
					<div class="el-title">
						Porte savon
					</div>
					<div class="el-picture">
						<img src="{{ asset('/front/dist/images/_tmp/home-slider-2.png') }}" alt="Porte savon" />
					</div>
					<div class="el-content">
						<div class="content-title">Porte savon</div>
						<div class="content-excerpt">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc neque, scelerisque vitae leo at, suscipit porta tortor. Morbi porttitor egestas elementum.
						</div>
						<div class="content-button">
							<a href="#" class="cbo-button">
								Notre gamme
								<i class="icon icon--arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="list-el">
				<div class="el-inner">
					<div class="el-title">
						Vegan
					</div>
					<div class="el-picture">
						<img src="{{ asset('/front/dist/images/_tmp/home-slider-1.png') }}" alt="Vegan" />
					</div>
					<div class="el-content">
						<div class="content-title">Vegan</div>
						<div class="content-excerpt">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc neque, scelerisque vitae leo at, suscipit porta tortor. Morbi porttitor egestas elementum.
						</div>
						<div class="content-button">
							<a href="#" class="cbo-button">
								Notre gamme
								<i class="icon icon--arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="catslider-nav">
			<a href="#" class="active">Savons</a>
			<a href="#">Shampoings</a>
			<a href="#">Soins du corps</a>
			<a href="#">Porte savons</a>
			<a href="#">Vegan</a>
		</div>

	</div>
</section>

{% endblock %}